  <div *ngIf="doctor" class="card-container" (click)="selectDoctor()">

      <div class="profile-section">
        <div class="profile-image">
          
        </div>
        <div class="profile-info">
          <h2>{{doctor.firstName}} {{doctor.lastName}}</h2>
          <p class="description">Contacto: {{doctor.email}}</p>
          <p class="subtitle">numero de licencia: {{doctor.licenseNumber}}</p>
          <p class="description">Precio por hora: {{doctor.priceHour}}€</p>
        </div>
      </div>
      
      <div class="specialties-section">
        <span class="specialty-pill"> {{doctor.specialization}}</span>
      </div>
  </div>
  

