<header class="header">
  <nav class="nav-container">
    <div class="logo-container">
      <a routerLink="/" class="logo">
        <img [src]="logo" alt="Mind Link Logo" [width]="logoWidth" [height]="logoHeight" />
      </a>
    </div>
    
    <div class="nav-links">
      <a routerLink="/doctors" 
         routerLinkActive="active" 
         class="nav-link">
         Psicólogos
      </a>
      <a routerLink="/blog" 
         routerLinkActive="active" 
         class="nav-link">
         Blog
      </a>
      <a routerLink="/login" 
         routerLinkActive="active" 
         class="nav-link login">
         Log in
      </a>
      <a routerLink="/" 
         routerLinkActive="active" 
         class="nav-link start-questionnaire">
         Inicia el cuestionario
      </a>
    </div>
  </nav>
</header>