<div class="card mb-4" style="max-width: 20rem;">
    <!-- Optional Image 
    <img *ngIf="post.image" [src]="post.image" class="card-img-top" alt="Post Image" />
    -->
    <!-- Card Body -->
    <div class="card-body">
      <!-- Post Title -->
      <h5 class="card-title text-orange">{{ post.title }}</h5>
  
      <!-- Post Content -->
      <p class="card-text">{{ post.content }}</p>
  
      <!-- Post Category -->
      <p class="card-text small text-muted text-orange">{{ post.categoria }}</p>
    </div>
  
</div>