<!--<section class="pricing">
  <div class="wave-top">
    <svg class="wave-svg" viewBox="0 0 1440 100" preserveAspectRatio="none">
      <path fill="#FDF6F0" d="M0,0 
        C480,120 960,-20 1440,0 
        L1440,100 L0,100 Z">
      </path>
    </svg>
  </div>
    <div class="pricing-container">
      <div class="pricing-header">
        
        <h2>La psicología a un precio asequible</h2>
      </div>
      <div class="pricing-cards">
        <div class="pricing-card">
          <h3>Sesión individual</h3>
          <div class="price">45€</div>
          <ul class="features">
            <li>Duración: 50 minutos</li>
            <li>Videoconferencia segura</li>
            <li>Chat 24/7</li>
          </ul>
          <button class="book-button">Reservar ahora</button>
        </div>
      </div>
       <div class="payment-methods">
        <img src="assets/visa.png" alt="Visa">
        <img src="assets/mastercard.png" alt="Mastercard">
        <img src="assets/paypal.png" alt="PayPal">
      </div> 
    </div>
    <div class="wave-bottom">
      <svg class="wave-svg" viewBox="0 0 1440 100" preserveAspectRatio="none">
        <path fill="#FDF6F0" d="M0,100
          C480,-20 960,120 1440,100
          L1440,0 L0,0 Z">
        </path>
      </svg>
    </div>
  </section>-->
