* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;  
  scroll-behavior: smooth; 
} 

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: linear-gradient(to bottom, #FF6B4A, #eeb29b);
  color: white;
  padding: 2rem;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.cta-button {
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  background-color: #ffffff;
  color: rgb(250, 152, 71);
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Add Post Section */
.add-post-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Ocupa toda la altura del viewport */
  background: linear-gradient(to bottom, #eeb29b, #ffffff);
  text-align: center;
}

.add-post-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #333;
}

.add-post-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #ffffff;
  color: rgb(255, 127, 77);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

