<section class="blog-container">

    <div class="blog-header">
      <h1>My Blog</h1>
      <button class="add-post-btn" (click)="showForm()" >+ Add Post</button>
    </div>
  
    <!--<div *ngIf="show" class="app-post-form-container">
      <app-post-form (unshow)="unshowForm()"></app-post-form>
    </div>-->
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let post of posts; let i = index">
          <app-post [post]="post"></app-post>
        </div>
      </div>
    </div>    
  </section>
